body{
font-family:Arial;
background:#f2f6f9;
text-align:center;
}

.input-box{
margin:20px;
}

input{
padding:10px;
width:220px;
}

button{
padding:10px;
cursor:pointer;
background:#3498db;
color:white;
border:none;
}

li{
background:white;
margin:10px auto;
padding:10px;
width:300px;
list-style:none;
display:flex;
justify-content:space-between;
}

.done{
text-decoration:line-through;
color:gray;
}
