body{
font-family: Arial;
background:#f2f6f9;
padding:20px;
}

h1{text-align:center;}

.form-container{
display:flex;
justify-content:center;
}

form{
background:white;
padding:20px;
width:320px;
border-radius:8px;
}

input,select,button{
width:100%;
padding:10px;
margin:8px 0;
}

button{
background:#3498db;
color:white;
border:none;
cursor:pointer;
}

button:hover{background:#2695df;}

.error{
color:red;
font-size:13px;
}

.card{
background:white;
padding:15px;
margin:10px;
border-radius:8px;
}

.priority{
border-left:6px solid orange;
}

.hidden{
display:none;
}
